{% extends "layout.html" %}

{% block title %}
Plan your trip
{% endblock %}

{% block head %}
{{ super() }}
<style>
  input.box{
  width: 25%!important;
  margin-right: 20px;
  }
</style>
{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>Plan your trip:</h1>
  <p class="lead"></p>
</div>

<form class="form-horizontal">
  <div id="time" class="form-group">
    <label class="col-sm-2">Date: </label>
    <div class="col-sm-10 text-left">
      <input type="text" id="startTime" class="form-control pull-left box" placeholder="Start date">
      <input type="text" id="endTime" class="form-control pull-left box" placeholder="End date">
    </div>
  </div>
  <div class="form-group dests">
    <label class="col-sm-2">Destinations: </label>
    <div class="col-sm-10 text-left">
      <input class='dest form-control pull-left box'/>
      <input class='dest form-control pull-left box'/>
      <input class='dest form-control pull-left box'/>
    </div>
  </div>
  <div class="form-group text-center">
    <button id="moreDest"type="btn" class="btn btn-success">More destinations</button>
    <button type="btn" class="btn btn-primary">Go</button>
  </div>
  <script src="/static/app.js"></script>
</form>

{% endblock %}
